<div
    *ngIf="user"
    class="card">
    <div
        class="profile-photo">
        <img
            (click)="changePhoto()"
            [attr.src]="newPhoto || user.photo"
            [attr.alt]="user.name">
    </div>

    <label>Name</label>

    <form
        (submit)="null"
        class="input-group"
        autocomplete="off"
        novalidate>
        <input
            placeholder="Enter your name here"
            class="form-control"
            type="text"
            name="name"
            [value]="user.name || ''"
            (change)="changeName($event)">
    </form>
</div>
