@import '../../variables.scss';

cv-cv {
    *, :after, :before {
        user-select: none;
    }

    a {
        color: $c_highlight;
        text-decoration: none;
    }

    header {
        display: block;

        @media print {
          display: none;
        }
    }

    .card {
        padding: 1rem;
        margin-bottom: 1rem;

        @media print {
            box-shadow: none;
            border: none;
        }
    }

    .editable {
        &:hover {
            box-shadow: 0px 0px 5px 2px $c_editing_light;
        }

        @media print {
            box-shadow: none;
        }
    }

    .section-title {
        text-transform: uppercase;
        margin-bottom: 0.5em;
        font-weight: 400;
        font-size: 1.2em;
        display: inline-block;
    }

    .tag {
        background-color: #fff;
        border: 1px solid $c_highlight;
        color: $c_highlight;

        display: inline-block;
        line-height: 1;
        vertical-align: baseline;
        margin: 0 .1em;
        padding: 0 .7em;
        font-size: .8em;
        line-height: 1.8em;
        font-weight: normal;
        border-radius: .3em;
    }

    .inline-btn {
        display: inline-block;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        background-color: #dadada;
        text-align: center;
        font-weight: 800;
        color: #888;
        line-height: 22px;
        cursor: pointer;

        &:hover {
            color: #444;
            background-color: #888;
        }

        @media print {
          display: none;
        }
    }

    footer {
      select {
        width: 100%;
      }

      @media print {
        display: none;
      }
    }
}
