<header>
    <span
        class="button-group">
        <button
            (click)="decreaseFontSize()"
            [disabled]="fontSize === MIN_FONT_SIZE"
            class="btn btn-secondary">
            aa
        </button>
        <button
            (click)="increaseFontSize()"
            [disabled]="fontSize === MAX_FONT_SIZE"
            class="btn btn-secondary">
            AA
        </button>
    </span>

    <select
        class="custom-select"
        (change)="changeFontFamily($event)">
        <option
            value="">
            Default
        </option>
        
        <option
            value="sans-serif">
            Sans-Serif
        </option>
        
        <option
            value="serif">
            Serif
        </option>
    </select>
</header>

<cv-details
    [path]="'/cvs/one/details'">
</cv-details>

<cv-divider
    [path]="'/cvs/one/divider'">
</cv-divider>

<cv-experience
    [path]="'/cvs/one/experience'">
</cv-experience>

<cv-education
    [path]="'/cvs/one/education'">
</cv-education>

<cv-skills
    [path]="'/cvs/one/skills'">
</cv-skills>

<cv-feedback
    [path]="'/cvs/one/feedback'">
</cv-feedback>
