@import '../../variables.scss';

.cv {
    padding-top: 1em;
    display: block;
    
    header {
        @media print {
            display: none;
        }
    }

    .editable {
        &:hover {
            background-color: $c_editing_light;

            @media print {
                background-color: transparent;
            }
        }

        @media print {
            display: none;
        }
    }

    .print-hide {
        @media print {
            display: none;
        }
    }
}

// GLOBALS

.section-title {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 1.2em;
    display: inline-block;
}

.tag {
    background-color: #fff;
    border: 1px solid $c_highlight;
    color: $c_highlight;

    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .1em;
    padding: 0 .7em;
    font-size: .8em;
    line-height: 1.8em;
    font-weight: normal;
    border-radius: .3em;
}