<header
    class="card">
    <span
        class="group">
        <button
          (click)="openDropdown($event)"
          class="button">
            <span>...</span>
            <cv-dropdown
              #dropdown
              closeOnScroll="true">
                <a
                  class="item">
                    Print
                </a>

                <a
                  class="item">
                    Share
                </a>

                <div
                  class="divider"></div>

                <a
                  class="item">
                    Rename
                </a>

                <a
                  (click)="removeCV()"
                  class="item text-danger">
                    Delete
                </a>
            </cv-dropdown>
        </button>
        <button
            (click)="decreaseFontSize()"
            [disabled]="fontSize === MIN_FONT_SIZE"
            class="button">
            aa
        </button>
        <button
            (click)="increaseFontSize()"
            [disabled]="fontSize === MAX_FONT_SIZE"
            class="button">
            AA
        </button>
        <select
          (change)="changeFontFamily($event)">
            <option
              value="">
                Default
            </option>

            <option
              value="sans-serif">
                Sans-Serif
            </option>

            <option
              value="serif">
                Serif
            </option>
        </select>
    </span>
</header>


<!--<ul
    class="list-group"
    [sortableData]="[1,2,3,4,5]"
    dnd-sortable-container>
        <li
            *ngFor="let item of listOne; let i = index"
            class="list-group-item"
            dnd-sortable
            [sortableIndex]="i">
            {{item}}
        </li>
</ul>-->

<div
  class="card">
  <div
    dnd-sortable-container
    [sortableData]="(sections | async)"

    [class]="themeClass"
    [style.fontSize.rem]="fontSize"
    [style.fontFamily]="fontFamily">
    <section
      *ngFor="let section of (sections | async); let i = index"
        dnd-sortable
        [sortableIndex]="i">

      <!--TODO MOVE PATH CALCULATION TO SOMEWHERE ELSE-->

      <cv-details
        *ngIf="section.meta.type === 'DETAILS'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-details>

      <cv-title
        *ngIf="section.meta.type === 'TITLE'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-title>

      <cv-text
        *ngIf="section.meta.type === 'TEXT'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-text>

      <cv-education
        *ngIf="section.meta.type === 'EDUCATION'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-education>

      <cv-experience
        *ngIf="section.meta.type === 'EXPERIENCE'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-experience>

      <cv-skills
        *ngIf="section.meta.type === 'SKILLS'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-skills>

      <cv-feedback
        *ngIf="section.meta.type === 'FEEDBACK'"
        [path]="(basePath$ | async) + section.$key"
        [section]="section"
        [style.order]="section.meta.order">
      </cv-feedback>
    </section>

    <div
      *ngIf="!(sections | async)">
        <div class="ghost" style="height: 2rem;margin-bottom: 1rem; width: 12rem;"></div>
        <div class="ghost" style="height: 5rem;margin-bottom: 1rem;"></div>
        <div class="ghost" style="height: 1rem;margin-bottom: 1rem;"></div>
        <div class="ghost" style="height: 1rem;margin-bottom: 2rem;"></div>
        <div class="ghost" style="height: 2rem;margin-bottom: 1rem; width: 12rem;"></div>
        <div class="ghost" style="height: 5rem;margin-bottom: 1rem;"></div>
        <div class="ghost" style="height: 5rem;margin-bottom: 1rem;"></div>
        <div class="ghost" style="height: 5rem;margin-bottom: 1rem;"></div>
      </div>
  </div>
</div>

<footer>
  <label
    class="form-control-label">
    Add new section
  </label>

  <form
    (submit)="submitChanges($event)"
    class="card"
    autocomplete="off"
    novalidate>

    <div>
      <label>Title</label>
      <div
        class="input-group">
        <select
          name="type"
          [(ngModel)]="newSection.type">
          <option
            [value]="type.type"
            *ngFor="let type of types">
            {{ type.name }}
          </option>
        </select>

        <button
          type="submit"
          class="button success">
          Add
        </button>
      </div>
    </div>
  </form>
</footer>

