.profile {
    background-color: #dadada;
    color: #4c4c4c;
    border-radius: 32px;
    padding: 2px 12px 2px 2px;
    font-size: 14px;
    display: inline-block;

    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 6px;
    }
}