<div
    *ngIf="(user | async)"
    (click)="dropdownOpen = !dropdownOpen">
    <div
        class="profile">
        <img [src]="(user | async)?.google?.photoURL">
        {{ (user | async)?.google?.displayName }}
    </div>

    <div
        *ngIf="dropdownOpen"
        class="dropdown">
        <div
            routerLink="/me/edit"
            class="item">
            Profile
        </div>
        <div
            (click)="logout()"
            class="item">
            Logout
        </div>
    </div>
</div>

<div
    *ngIf="!(user | async)">
    <div
        (click)="login()"
        class="profile">
        <img>
        Login
    </div>
</div>
