.profile {
    background-color: #dadada;
    color: #4c4c4c;
    border-radius: 38px;
    padding: 3px;
    padding-right: 13px;
    font-size: 14px;
    display: inline-block;

    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 6px;
    }
}
