.auth-tile {
    img {
        display: inline-block;
        width: 38px;
        height: 38px;
        border-radius: 100%;
        border: 3px solid #dadada;

        &:hover {
            border-color: #cacaca;
            cursor: pointer;
        }
    }
}
