<div
    *ngIf="(data | async)">
    <div
        class="name">
        {{ (data | async)?.name }}
    </div>

    <div>
        <div
            class="address">
            {{ (data | async)?.address }}
        </div>

        <div
            class="tel">
            {{ (data | async)?.tel }}
        </div>
    </div>

    <div>
        <a
            [attr.href]="'mailto:' + (data | async)?.email"
            class="email">
          {{ (data | async)?.email }}
        </a>

        <a
            [attr.href]="(data | async)?.url"
            class="url"
            target="_blank">
          {{ (data | async)?.url }}
        </a>
    </div>
</div>

<div
    *ngIf="!(data | async)">
    <div
        class="ghost"
        style="height: 40px; margin-bottom: 5px;">
    </div>

    <div
        class="ghost"
        style="height: 25px; margin-bottom: 5px;">
    </div>

    <div
        class="ghost"
        style="height: 20px;">
    </div>
</div>
