<div
    class="name">
    {{ section?.data?.name }}
</div>

<div>
    <div
        class="address">
        {{ section?.data?.address }}
    </div>

    <div
        class="tel">
        {{ section?.data?.tel }}
    </div>
</div>

<div>
    <a
        [attr.href]="'mailto:' + section?.data?.email"
        class="email">
      {{ section?.data?.email }}
    </a>

    <a
        [attr.href]="section?.data?.url"
        class="url"
        target="_blank">
      {{ section?.data?.url }}
    </a>
</div>
