<header>
    <h1>
        Hi
        {{ (user | async)?.name }}
    </h1>
    <h5>
        {{ (cvs | async)?.length ? 'Here\'s an overview of your CVs' : 'You don\'t have any CVs, yet' }}
    </h5>
</header>

<cv-list
  [cvs]="cvs | async"></cv-list>

<ul
    *ngIf="user | async"
    class="cards">
    <label
        class="form-control-label">
        Create a new CV
    </label>

    <li class="card">
        <form
            (submit)="onFormSubmit($event)"
            autocomplete="off"
            class="primary"
            novalidate>
            <div
                class="form-group"
                [class.has-danger]="!!error">
                <div
                    class="input-group">
                    <input
                        [(ngModel)]="newTitle"
                        [class.form-control-danger]="!!error"
                        (keydown)="clearError()"
                        class="form-control"
                        placeholder="Title"
                        name="title"
                        type="text">

                    <span class="input-group-btn">
                        <button
                            type="submit"
                            class="btn btn-success">
                            Add
                        </button>
                    </span>
                </div>

                <small
                    *ngIf="!!error"
                    class="form-text text-muted">
                    {{ error }}
                </small>
            </div>
        </form>
    </li>
</ul>
