<div
    *ngIf="items">
    <div
        class="section-title">
        {{ title.$value || 'Feedback' }}
    </div>

    <div
        *ngFor="let item of items"
        (click)="editData($event, item)"
        class="item editable">
        <div
            class="name">
            {{ item.name }}
        </div>

        <div
            class="relationship">
            {{ item.relationship }}
        </div>

        <div
            class="institution">
            {{ item.institution }}
        </div>
        
        <div
            class="comment">
            {{ item.comment }}
        </div>
    </div>
    
    <button
        (click)="editData($event, null)"
        class="btn btn-block btn-secondary">
        Add item
    </button>
</div>

<div
    *ngIf="!items">
    <div
        class="ghost"
        style="height: 40px; margin-bottom: 5px;">
    </div>

    <div
        class="ghost"
        style="height: 25px; margin-bottom: 5px;">
    </div>

    <div
        class="ghost"
        style="height: 20px;">
    </div>
</div>
