<div
  *ngIf="section?.meta?.title"
  class="section-title">
  {{ section?.meta?.title }}
  <span
    (click)="editData($event, null)"
    class="inline-button">
    +
  </span>
</div>

<div
    class="items">
    <div
        *ngFor="let item of (items | async)"
        (click)="editData($event, item)"
        class="item editable">
        <div
            class="name">
            {{ item.name }}
        </div>

        <div
            class="relationship">
            {{ item.relationship }}
        </div>

        <div
            class="institution">
            {{ item.institution }}
        </div>

        <div
            class="comment">
            {{ item.comment }}
        </div>
    </div>
</div>
