@import '../../../../variables';

app-list {
	display: block;

	.cards {
		padding: 0;
		margin: 1rem 0;

		.card {
			display: flex;
			flex-direction: row;

			.primary {
				flex: 1;

				.secondary {
					color: #aaa;
					font-size: 0.8rem;
				}
			}

			.suffix {
				font-size: 0.8rem;
				align-self: flex-end;
			}
		}
	}
}
