<ul
    class="cards">
    <li
        class="card"
        *ngFor="let cv of cvs"
        (click)="navigateToCV(cv.$key)">
        <div
            class="primary">
            {{ cv.title }}

            <div
                class="secondary">
                Lorem ipsum dolor sit amet
            </div>
        </div>

        <div class="suffix">
            {{ cv._created | when }}
        </div>
    </li>
</ul>

<div
    *ngIf="!cvs">
    <div
        class="ghost"
        style="height: 75px; margin-top: 1rem"></div>

    <div
        class="ghost"
        style="height: 75px; margin-top: 0.5rem; margin-bottom: 1rem;"></div>
</div>
