<header>
  <div
    class="button-group">
    <button
      (click)="decreaseFontSize()"
      [disabled]="data.theme.fontSize === MIN_FONT_SIZE">aa</button>
    <button
      (click)="increaseFontSize()"
      [disabled]="data.theme.fontSize === MAX_FONT_SIZE">AA</button>
  </div>

  <select
    (change)="changeFontFamily($event)">
    <option
      value="">Default</option>
    <option
      value="sans-serif">Sans-Serif</option>
    <option
      value="serif">Serif</option>
  </select>
</header>

<div class="cv">
  <div
    *ngIf="data"
    [style.fontSize]="data.theme.fontSize + 'em'"
    [style.fontFamily]="data.theme.fontFamily"
    [class]="data.theme.class">

    <!-- DETAILS -->

    <div class="details">
      <div
        (click)="editField($event, data.details, 'name')"
        class="editable name">{{ data.details.name }}</div>

      <div>
        <div
          (click)="editField($event, data.details, 'address')"
          class="editable address">{{ data.details.address }}</div>
        <div

          (click)="editField($event, data.details, 'tel')"
          class="editable tel">
          {{ data.details.tel }}
        </div>
      </div>

      <div>
        <a
          (click)="editField($event, data.details, 'email')"
          class="editable email"
          [attr.href]="'mailto:' + data.details.email">
          {{ data.details.email }}
        </a>

        <a
          (click)="editField($event, data.details, 'url')"
          class="editable url"
          [attr.href]="data.details.url"
          target="_blank">
          {{ data.details.url }}
        </a>
      </div>
    </div>

    <!-- ITEMS -->

    <div class="items">
      <div
        *ngFor="let item of data.items"
        class="item">

        <!-- DIVIDER -->

        <div
          *ngIf="item.class === TYPES.DIVIDER.class"
          [class]="item.class">
          <div
            *ngIf="item.title"
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>
        </div>

        <!-- EDUCATION -->

        <div
          *ngIf="item.class === TYPES.EDUCATION.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
            <span
              (click)="addFirstChild($event, item, 'items', TYPES.EDUCATION)"
              class="icon-btn">+</span>
          </div>

          <div
            *ngFor="let child of item.items"
            class="child">

            <div class="left">
              <div
                (click)="editField($event, child, 'title')"
                class="editable title">
                {{ child.title }}
              </div>

              <div class="timespan">
                <div
                  (click)="editField($event, child, 'start')"
                  class="editable start">
                  {{ child.start }}
                </div>
                <div
                  (click)="editField($event, child, 'end')"
                  class="editable end">
                  {{ child.end }}
                </div>
              </div>
            </div>

            <div class="right">
              <a
                (click)="editField($event, child, 'link')"
                class="editable institution"
                [attr.href]="child.link"
                target="_blank">
                {{ child.institution }}
              </a>

              <div
                (click)="editField($event, child, 'location')"
                class="editable location">
                {{ child.location }}
              </div>
              <div
                (click)="editField($event, child, 'description')"
                class="editable description">
                {{ child.description }}
              </div>
              <div
                (click)="editField($event, child, 'field')"
                class="editable field">
                {{ child.field }}
              </div>
              <div
                (click)="editField($event, child, 'grade')"
                class="editable grade">
                {{ child.grade }}
              </div>
            </div>
          </div>
        </div>

        <!-- SKILLS -->

        <div
          *ngIf="item.class === TYPES.SKILLS.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
            <span
              (click)="addFirstChild($event, item, 'items', TYPES.SKILLS)"
              class="icon-btn">+</span>
          </div>

          <div
            *ngFor="let child of item.items"
            class="child">
            <div
              (click)="editField($event, child, 'title')"
              class="editable title">
              {{ child.title }}
            </div>

            <div class="bar">
              <div
                *ngIf="child.percentage"
                (click)="editField($event, child, 'percentage')"
                class="editable wrapper">
                <div
                  class="percentage"
                  [style.width]="child.percentage * 100 + '%'">
                </div>
              </div>

              <div
                *ngIf="child.description"
                (click)="editField($event, child, 'description')"
                class="editable description">
                {{ child.description }}
              </div>
            </div>
          </div>
        </div>

        <!-- DETAIL_LIST -->

        <div
          *ngIf="item.class === TYPES.DETAIL_LIST.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
            <span
              (click)="addFirstChild($event, item, 'items', TYPES.DETAIL_LIST)"
              class="icon-btn">+</span>
          </div>

          <div
            *ngFor="let child of item.items"
            class="child">
            <div class="left">
              <div
                (click)="editField($event, child, 'title')"
                class="editable title">
                {{ child.title }}
              </div>

              <div class="timespan">
                <div
                  *ngIf="child.start"
                  (click)="editField($event, child, 'start')"
                  class="editable start">{{ child.start }}
                </div>
                <div
                  (click)="editField($event, child, 'end')"
                  class="editable end">{{ child.end }}</div>
              </div>
            </div>

            <div class="right">
              <a
                *ngIf="child.institution"
                (click)="editField($event, child, 'institution')"
                class="editable institution"
                [attr.href]="child.link"
                target="_blank">{{ child.institution }}</a>

              <div
                *ngIf="child.location"
                (click)="editField($event, child, 'location')"
                class="editable location">{{ child.location }}</div>

              <div
                (click)="editField($event, child, 'description')"
                class="editable description">{{ child.description }}</div>

              <div class="tags">
                <div
                  (click)="editField($event, tag, 'name')"
                  *ngFor="let tag of child.tags"
                  class="editable tag">
                  {{ tag.name }}
                </div>
                <span
                  (click)="addLastChild($event, child, 'tags', TYPES.TAG)"
                  class="icon-btn">+</span>
              </div>
            </div>
          </div>
        </div>

        <!-- RECOMMENDATION -->

        <div
          *ngIf="item.class === TYPES.RECOMMENDATION.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
            <span
              (click)="openModal($event, item, 'items', TYPES.RECOMMENDATION)"
              class="icon-btn">+</span>
          </div>

          <div
            *ngFor="let child of item.items; let idx = index"
            (click)="openModal($event, item, 'items', TYPES.RECOMMENDATION, idx)"
            class="child modal-edit">
            <div
              class="name">
              {{ child.name }}
            </div>
            <div
              class="relationship">
              {{ child.relationship }}
            </div>
            <div
              class="institution">
              {{ child.institution }}
            </div>
            <div
              class="comment">
              {{ child.comment }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  #inputWrapperRef
  class="input-wrapper">

  <input
    #inputRef>

  <div class="buttons">
    <button
      (click)="cancelEdit()">Cancel</button>
    <button
      (click)="saveChanges()">Save</button>
  </div>
</div>

<div
  *ngIf="modal"
  (click)="backdropClose($event)"
  class="modal-wrapper">
  <form
    class="modal"
    (submit)="submitModal($event)">

    <h2>{{ modal.isAdding ? 'New' : 'Update' }} {{ modal.typeName }}</h2>

    <div
      *ngFor="let field of modal.fields">
      <label>{{ field.label }}</label>

      <input
        *ngIf="field.type !== 'textarea'"
        [type]="field.type"
        [name]="field.label"
        [placeholder]="field.placeholder"
        [(ngModel)]="field.value">

      <textarea
        *ngIf="field.type === 'textarea'"
        [name]="field.label"
        [placeholder]="field.placeholder"
        [(ngModel)]="field.value">
      </textarea>
    </div>

    <button type="submit">Submit</button>
    <button
      type="button"
      (click)="clearModal()">
      Cancel
    </button>
  </form>
</div>
