@import '../variables.scss';

.ghost {
    background: linear-gradient(317deg, #bbbbbb, #e8e8e8);
    background-size: 400% 400%;
    border-radius: 3px;

    -webkit-animation: AnimationName 1.7s ease infinite;
    -moz-animation: AnimationName 1.7s ease infinite;
    animation: AnimationName 1.7s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }

    @-moz-keyframes AnimationName {
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }

    @keyframes AnimationName {
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }
}
