<header>
  <div
    class="button-group">
    <button
      (click)="decreaseFontSize()"
      [disabled]="data.theme.fontSize === MIN_FONT_SIZE">aa</button>
    <button
      (click)="increaseFontSize()"
      [disabled]="data.theme.fontSize === MAX_FONT_SIZE">AA</button>
  </div>

  <select
    (change)="changeFontFamily($event)">
    <option
      value="">Default</option>
    <option
      value="sans-serif">Sans-Serif</option>
    <option
      value="serif">Serif</option>
  </select>
</header>

<div class="cv">
  <div
    *ngIf="data"
    [style.fontSize]="data.theme.fontSize + 'em'"
    [style.fontFamily]="data.theme.fontFamily"
    [class]="data.theme.class">

    <!-- DETAILS -->

    <div
      (click)="openModal($event, TYPES.DETAILS, data.details, data, 'details')"
      class="details modal-edit">

      <div
        class="name">
        {{ data.details.name }}
      </div>

      <div>
        <div
          class="address">
          {{ data.details.address }}
        </div>

        <div
          class="tel">
          {{ data.details.tel }}
        </div>
      </div>

      <div>
        <a
          [attr.href]="'mailto:' + data.details.email"
          class="email">
          {{ data.details.email }}
        </a>

        <a
          [attr.href]="data.details.url"
          class="url"
          target="_blank">
          {{ data.details.url }}
        </a>
      </div>
    </div>

    <!-- ITEMS -->

    <div class="items">
      <div
        *ngFor="let item of data.items"
        class="item">

        <!-- DIVIDER -->

        <div
          *ngIf="item.class === TYPES.DIVIDER.class"
          (click)="openModal($event, TYPES.DIVIDER, item, item, 'item')"
          [class]="item.class">
          <div
            *ngIf="item.title"
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>
        </div>

        <!-- EDUCATION -->

        <div
          *ngIf="item.class === TYPES.EDUCATION.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>

          <div
            *ngFor="let child of item.items; let idx = index"
            (click)="openModal($event, TYPES.EDUCATION, item.items, child, item.items, idx)"
            class="child modal-edit">

            <div
              class="left">
              <div
                class="title">
                {{ child.title }}
              </div>

              <div
                class="timespan">
                <div
                  class="start">
                  {{ child.start ? (child.start | date:'MM/yy') : 'present' }}
                </div>
                <div
                  class="end">
                  {{ child.end ? (child.end | date:'MM/yy') : 'present' }}
                </div>
              </div>
            </div>

            <div class="right">
              <a
                [attr.href]="child.link"
                class="institution"
                target="_blank">
                {{ child.institution }}
              </a>
              <div
                class="location">
                {{ child.location }}
              </div>
              <div
                class="description">
                {{ child.description }}
              </div>
              <div
                class="field">
                {{ child.field }}
              </div>
              <div
                class="grade">
                {{ child.grade }}
              </div>
            </div>
          </div>

          <button
            (click)="openModal($event, TYPES.EDUCATION, null, item.items, item.items.length)"
            class="btn btn-block btn-sm btn-secondary print-hide">Add {{ TYPES.EDUCATION.name }}</button>
        </div>

        <!-- SKILL -->

        <div
          *ngIf="item.class === TYPES.SKILL.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>

          <div
            *ngFor="let child of item.items; let idx = index"
            (click)="openModal($event, TYPES.SKILL, child, item.items, idx)"
            class="child modal-edit">
            <div
              class="title">
              {{ child.title }}
            </div>

            <div class="bar">
              <div
                *ngIf="child.percentage"
                class="wrapper">
                <div
                  class="percentage"
                  [style.width]="child.percentage + '%'">
                </div>
              </div>

              <div
                *ngIf="child.description"
                class="description">
                {{ child.description }}
              </div>
            </div>
          </div>

          <button
            (click)="openModal($event, TYPES.SKILL, null, item.items, item.items.length)"
            class="btn btn-block btn-sm btn-secondary print-hide">Add {{ TYPES.SKILL.name }}</button>
        </div>

        <!-- DETAIL_LIST -->

        <div
          *ngIf="item.class === TYPES.DETAIL_LIST.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>

          <div
            *ngFor="let child of item.items; let idx = index"
            (click)="openModal($event, TYPES.DETAIL_LIST, child, item.items, idx)"
            class="child modal-edit">
            <div class="left">
              <div
                class="title">
                {{ child.title }}
              </div>

              <div class="timespan">
                <div
                  *ngIf="child.start"
                  class="start">
                  {{ child.start ? (child.start | date:'MM/yy') : 'present' }}
                </div>
                <div
                  class="end">
                  {{ child.end ? (child.end | date:'MM/yy') : 'present' }}
                </div>
              </div>
            </div>

            <div class="right">
              <a
                *ngIf="child.institution"
                [attr.href]="child.link"
                class="institution"
                target="_blank">{{ child.institution }}</a>

              <div
                *ngIf="child.location"
                class="location">{{ child.location }}</div>

              <div
                class="description">{{ child.description }}</div>

              <div class="tags">
                <div
                  (click)="editField($event, tag, 'name')"
                  *ngFor="let tag of child.tags"
                  class="tag">
                  {{ tag.name }}
                </div>
              </div>
            </div>
          </div>

          <button
            (click)="openModal($event, TYPES.DETAIL_LIST, null, item.items, item.items.length)"
            class="btn btn-block btn-sm btn-secondary print-hide">Add {{ TYPES.DETAIL_LIST.name }}</button>
        </div>

        <!-- RECOMMENDATION -->

        <div
          *ngIf="item.class === TYPES.RECOMMENDATION.class"
          [class]="item.class">
          <div
            (click)="editField($event, item, 'title')"
            class="editable title">
            {{ item.title }}
          </div>

          <div
            *ngFor="let child of item.items; let idx = index"
            (click)="openModal($event, TYPES.RECOMMENDATION, child, item.items, idx)"
            class="child modal-edit">
            <div
              class="name">
              {{ child.name }}
            </div>
            <div
              class="relationship">
              {{ child.relationship }}
            </div>
            <div
              class="institution">
              {{ child.institution }}
            </div>
            <div
              class="comment">
              {{ child.comment }}
            </div>
          </div>

          <button
            (click)="openModal($event, TYPES.RECOMMENDATION, null, item.items, item.items.length)"
            class="btn btn-block btn-sm btn-secondary print-hide">Add {{ TYPES.RECOMMENDATION.name }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  #inputWrapperRef
  class="input-wrapper">

  <input
    #inputRef>

  <div class="buttons">
    <button
      (click)="cancelEdit()">Cancel</button>
    <button
      (click)="saveChanges()">Save</button>
  </div>
</div>

<cv-modal
  (close)="onModalClose($event)"
  #modal></cv-modal>
