@import '../../../../variables.scss';

app-feedback {
	display: block;
	margin-bottom: 1em;

	.items {
		display: block;
		width: 100%;

		.item {
			page-break-inside: avoid;
			padding-bottom: 1.25em;

			&:last-child {
				padding-bottom: 0;
			}

			.title {
				display: inline-block;
			}

			.relationship {
				color: $c_lighte;
				display: inline-block;
				font-size: 0.8em;
			}

			p {
				font-style: italic;
			}
		}
	}
}
