<ul>
    <li
        *ngFor="let cv of (cvs | async)"
        [routerLink]="cv.$key">
        <div
            class="primary">
            {{ cv.title }}

            <div
                class="secondary">
                Lorem ipsum dolor sit amet
            </div>
        </div>

        <div class="suffix">
            3 days ago
        </div>
    </li>
</ul>

<div
    *ngIf="!(cvs | async)">
    <div
        class="ghost"
        style="height: 75px; margin-top: 1rem"></div>

    <div
        class="ghost"
        style="height: 75px; margin-top: 0.5rem; margin-bottom: 1rem;"></div>
</div>
