@import '../../variables.scss';

cv-dashboard {
    >header {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    >ul.cards {
        label {
            margin-top: 2rem;
        }

        li.card {
            margin-top: 0;
        }

        .form-group {
            margin: 0;
        }
    }
}
