@import '../../variables.scss';

.dashboard {
    >header {
        margin-top: 4rem;
        margin-bottom: 3rem;

        h1 {
            font-weight: 400;
        }

        h5 {        
            font-weight: 400;
            color: #444;
        }
    }
}
