@import 'reset.scss';
@import 'variables.scss';

.cv {
  .default {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;

    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;

    *, :after, :before {
      box-sizing: inherit;
    }

    a {
      color: $c_highlight;
      text-decoration: none;
    }

    .tag {
      background-color: #fff;
      border: 1px solid $c_highlight;
      color: $c_highlight;

      display: inline-block;
      line-height: 1;
      vertical-align: baseline;
      margin: 0 .1em;
      padding: 0 .7em;
      font-size: .8em;
      line-height: 1.8em;
      font-weight: normal;
      border-radius: .3em;
    }

    .details {
      text-align: center;
      line-height: 1.25em;
      margin-bottom: 2em;

      .name {
        text-transform: uppercase;
        font-size: 1.75em;
        letter-spacing: 0.25em;
        margin-top: 1em;
        margin-bottom: 0.25em;
        font-weight: bolder;
        display: inline-block;
      }

      .address {
        display: inline-block;

        &:after {
          padding-left: .5em;
          padding-right: .25em;
          content: '•';
        }
      }

      .tel {
        display: inline-block;
      }

      .email {
        display: inline-block;

        &:after {
          padding-left: .5em;
          padding-right: .25em;
          content: '•';
        }
      }

      .url {
        display: inline-block;
      }

      .email,
      .url {
        font-size: 0.9em;
      }
    }

    .items {
      max-width: 768px;
      margin: 0 auto;

      .education,
      .detail-list,
      .skills,
      .recommendation {
        margin-bottom: 2em;

        >.title {
          text-transform: uppercase;
          margin-bottom: 0.5em;
          font-weight: 900;
          font-size: 1.15em;
          display: inline-block;
        }

        .child {
          page-break-inside: avoid;
        }
      }

      .divider {
        display: flex;
        text-align: center;
        margin-bottom: 2em;

        .title {
          padding-left: 0.75em;
          padding-right: 0.75em;
          text-align: justify;
          color: $c_light;
        }

        &:before,
        &:after {
          content: '';
          display: inline-block;
          flex: 1;
          min-width: 1.5em;
          height: 1px;
          border-bottom: 1px solid $c_lighter;
          align-self: center;
        }
      }

      .education,
      .detail-list {
        display: table;

        .child {
          display: table-row;

          &:last-child .left,
          &:last-child .right {
            padding-bottom: 0;
          }

          .left, .right {
            padding-bottom: 1.25em;
            display: table-cell;
          }

          .left {
            padding-right: 1.25em;
            min-width: 150px;
          }

          .right {
            width: 100%;
            padding-left: 1.25em;
            vertical-align: top;
            border-left: 1px solid $c_lighter;
          }

          .title {
            display: inline-block;
            font-weight: bolder;
            padding-bottom: 0.25em;
          }

          .institution {
            display: inline-block;
          }

          .location {
            display: inline-block;
            font-size: 0.9em;

            &:before{
              content: '(';
            }

            &:after {
              content: ')';
            }
          }

          .timespan {
            color: $c_light;
            font-size: 0.9em;

            .start {
              display: inline-block;

              &:after {
                content: '-';
                padding-left: .5em;
                padding-right: .25em;
              }
            }
            .end {
              display: inline-block;
            }
          }

          .description {
            margin-top: 0.35em;
            margin-bottom: 0.35em;
            text-align: justify;
          }
        }
      }

      .skills {
        display: table;

        .child {
          display: table-row;

          .title {
            display: table-cell;
            min-width: 120px;
            padding-right: 1.25em;
            padding-bottom: 0.5em;
          }

          .bar {
            display: table-cell;
            vertical-align: top;
            width: 100%;
            padding-bottom: 0.5em;

            .wrapper {
              width: 50%;
              background-color: $c_lighter;
              margin-bottom: 0.25em;

              .percentage {
                display: block;
                height: 0.5em;
                background-color: $c_highlight;
              }
            }

            .description {
              font-size: 0.85em;
              color: $c_light;
            }
          }
        }
      }

      .recommendation {
        .child {
          padding-bottom: 1.25em;

          .name {
            display: inline-block;
            font-weight: bolder;
          }

          .relationship {
            display: inline-block;
            font-size: 0.9em;

            &:before{
              content: '(';
            }

            &::after{
              content: ' at';
            }
          }

          .institution {
            display: inline-block;
            font-size: 0.9em;

            &:after {
              content: ')';
            }
          }

          .comment {
            text-align: justify;
            color: $c_light;
            font-size: 0.9em;
            line-height: 1.15em;
            margin-top: 0.2em;

            &:before {
              content: '„';
              display: inline;
              font-weight: 900;
            }

            &::after {
              content: '”';
              display: inline;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
