$c_dark: #444;
$c_light: #666;
$c_lighte: #999;
$c_lighter: #ccc;
$c_highlight: #55b08f;
$c_background: #fff;

$c_editing: #fbbb5a;
$c_editing_light: #ffeac5; // @lighten($c_editing, 50%);

$v_left_width: 25%;
