@import '../../../variables.scss';

cv-skills {
    display: block;
    margin-bottom: 1em;

    .items {
        .item {
            display: flex;
            page-break-inside: avoid;
            padding-bottom: 0.75em;

            .left {
                width: $v_left_width;
                text-align: right;
            }

            .right {
                flex: 1;
                padding-left: 1em;

                .wrapper {
                    width: 50%;
                    background-color: $c_lighter;
                    margin-bottom: 0.25em;

                    .percentage {
                        display: block;
                        height: 0.5em;
                        background-color: $c_highlight;
                    }
                }
            }

            p {
                font-size: 0.8em;
                font-weight: 300;
                color: $c_light;
                margin: 0;
            }
        }
    }
}
