@import '../../../variables.scss';

cv-skills {
    display: block;
    page-break-inside: avoid;
    margin-bottom: 1em;

    .items {
        display: table;
        width: 100%;

        .item {
            page-break-inside: avoid;
            display: table-row;

            .title {
                display: table-cell;
                width: $v_left_width;
                padding-bottom: 0.5em;
                font-size: 0.9em;
            }

            p {
                font-size: 0.7em;
                font-weight: 400;
                color: $c_light;
            }

            .bar {
                padding-left: 1em;
                display: table-cell;
                vertical-align: top;
                width: 100%;
                padding-bottom: 0.5em;

                .wrapper {
                    width: 50%;
                    background-color: $c_lighter;
                    margin-bottom: 0.25em;

                    .percentage {
                        display: block;
                        height: 0.5em;
                        background-color: $c_highlight;
                    }
                }
            }
        }
    }
}
